@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffff;
  color: black;
  scroll-behavior: smooth;
  --card-color: #dee8fb;
  --neutral: #05003e;
}

.button-navbar {
  --border-width: 3px;
  --border-radius: 44px;
  font: inherit;
  border-radius: calc(var(--border-radius) - var(--border-width));
  -webkit-border-radius: calc(var(--border-radius) - var(--border-width));
  -moz-border-radius: calc(var(--border-radius) - var(--border-width));
  -ms-border-radius: calc(var(--border-radius) - var(--border-width));
  -o-border-radius: calc(var(--border-radius) - var(--border-width));
  z-index: 2;
}

.button-navbar-light {
  --border-width: 3px;
  --border-radius: 44px;
  font: inherit;
  border-radius: calc(var(--border-radius) - var(--border-width));
  -webkit-border-radius: calc(var(--border-radius) - var(--border-width));
  -moz-border-radius: calc(var(--border-radius) - var(--border-width));
  -ms-border-radius: calc(var(--border-radius) - var(--border-width));
  -o-border-radius: calc(var(--border-radius) - var(--border-width));
  z-index: 2;
  color: #2a89f8;
}
.button-navbar::before {
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: var(--neutral);
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  z-index: -1;
}

.button-navbar-light::before {
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: #fcf2ff;
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  z-index: -1;
}

.button-navbar:hover::before,
.button-navbar-light:hover::before {
  background: none;
}

.button-navbar:hover,
.button-navbar-light:hover {
  background-image: linear-gradient(to right, #2b8af9, #ff92fe);
  color: white;
}

.intro-header {
  text-shadow: -1px 1px 0 #494b7c, 1px 1px 0 #494b7c, 1px -1px 0 #494b7c,
    -1px -1px 0 #494b7c;
}

.intro-header-dark {
  text-shadow: -1px 1px 0 #e5eeff, 1px 1px 0 #e5eeff, 1px -1px 0 #e5eeff,
    -1px -1px 0 #e5eeff;
}

.benefit-header {
  color: #fcf2ff;
  text-shadow: -1px 1px 0 #515151, 1px 1px 0 #515151, 1px -1px 0 #515151,
    -1px -1px 0 #515151;
}

.benefit-header-dark {
  color: #02053e;
  text-shadow: -1px 1px 0 #fde5ff, 1px 1px 0 #fde5ff, 1px -1px 0 #fde5ff,
    -1px -1px 0 #fde5ff;
}

.slide {
  filter: blur(4px);
  opacity: 0.7;
  -webkit-filter: blur(4px);
}

.timeline-header {
  color: #e8eeff;
  text-shadow: -1px 1px 0 #75497c, 1px 1px 0 #75497c, 1px -1px 0 #75497c,
    -1px -1px 0 #75497c;
}

.timeline-header-dark {
  color: #332f62;
  text-shadow: -1px 1px 0 #efdfff, 1px 1px 0 #efdfff, 1px -1px 0 #efdfff,
    -1px -1px 0 #efdfff;
}

.sponsor-header {
  color: #fcf2ff;
  text-shadow: -1px 1px 0 #494949, 1px 1px 0 #494949, 1px -1px 0 #494949,
    -1px -1px 0 #494949;
}

.sponsor-header-dark {
  color: #02053e;
  text-shadow: -1px 1px 0 #fde5ff, 1px 1px 0 #fde5ff, 1px -1px 0 #fde5ff,
    -1px -1px 0 #fde5ff;
}

.field-header {
  background: -webkit-linear-gradient(0deg, #e924e8 0%, #d5da00 65%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #2f3159;
}
