@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffff;
  color: black;
  scroll-behavior: smooth;
  --card-color: #dee8fb;
  --neutral: #05003e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Button Styles */
.button-navbar-dark {
  box-shadow: 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
  --border-width: 3px;
  --border-radius: 44px;
  font: inherit;
  border-radius: calc(var(--border-radius) - var(--border-width));
  -webkit-border-radius: calc(var(--border-radius) - var(--border-width));
  -moz-border-radius: calc(var(--border-radius) - var(--border-width));
  -ms-border-radius: calc(var(--border-radius) - var(--border-width));
  -o-border-radius: calc(var(--border-radius) - var(--border-width));
  z-index: 2;
}

.button-navbar {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  --border-width: 3px;
  --border-radius: 44px;
  font: inherit;
  border-radius: calc(var(--border-radius) - var(--border-width));
  -webkit-border-radius: calc(var(--border-radius) - var(--border-width));
  -moz-border-radius: calc(var(--border-radius) - var(--border-width));
  -ms-border-radius: calc(var(--border-radius) - var(--border-width));
  -o-border-radius: calc(var(--border-radius) - var(--border-width));
  z-index: 2;
  color: #2a89f8;
}
.button-navbar-dark::before {
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: var(--neutral);
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  z-index: -1;
}

.button-navbar::before {
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: #fcf2ff;
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  z-index: -1;
}

.button-navbar-dark:hover::before,
.button-navbar:hover::before {
  background: none;
}

.button-navbar-dark:hover,
.button-navbar:hover {
  background-image: linear-gradient(to right, #2b8af9, #ff92fe);
  color: white;
}

/*End Button Styles */

@layer utilities {
  .shadow-navbar {
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15) !important;
  }

  .shadow-navbar-dark {
    box-shadow: 0 4px 25px rgba(203, 203, 203, 0.2) !important;
  }

  /* Landing Page */

  /* .intro-header {
    text-shadow: -1px 1px 0 #494b7c, 1px 1px 0 #494b7c, 1px -1px 0 #494b7c,
      -1px -1px 0 #494b7c;
  } */

  .intro-header-kompetisi {
    color: #fcf2ff;
    background: -webkit-linear-gradient(0deg, #fc39fc 0%, #337ef0 55%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  .intro-header-kompetisi-dark {
    color: #02053e;
    background: -webkit-linear-gradient(0deg, #fc39fc 0%, #337ef0 55%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }
  .intro-header-seminar {
    color: #fcf2ff;
    background: -webkit-linear-gradient(0deg, #fc39fc 40%, #337ef0 85%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  .intro-header-seminar-dark {
    color: #02053e;
    background: -webkit-linear-gradient(0deg, #fc39fc 40%, #337ef0 85%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  .benefit-header {
    color: #fcf2ff;
    background: -webkit-linear-gradient(0deg, #fc39fc 40%, #337ef0 85%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  .benefit-header-dark {
    color: #02053e;
    background: -webkit-linear-gradient(0deg, #fc39fc 10%, #337ef0 65%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  .slide {
    filter: blur(4px);
    opacity: 0.7;
    -webkit-filter: blur(4px);
  }

  .timeline-header {
    color: #e8eeff;
    background: -webkit-linear-gradient(0deg, #fc39fc 0%, #337ef0 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  .timeline-header-dark {
    color: #0f3a70;
    background: -webkit-linear-gradient(0deg, #fc39fc 0%, #337ef0 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  .sponsor-header {
    color: #fcf2ff;
    background: -webkit-linear-gradient(0deg, #fc39fc 35%, #337ef0 75%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  .sponsor-header-dark {
    color: #02053e;
    background: -webkit-linear-gradient(0deg, #fc39fc 35%, #337ef0 75%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }
  /*End Landing Page */

  /* DaftarKompetisi Page */
  .field-header {
    background: -webkit-linear-gradient(0deg, #2e7bef 0%, #f86e45 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
    color: #ebe9f6;
    letter-spacing: 3px;
  }

  .field-header-dark {
    background: -webkit-linear-gradient(0deg, #e924e8 0%, #d5da00 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #242750;
    letter-spacing: 3px;
  }

  .member-form-header {
    background: -webkit-linear-gradient(0deg, #f86e45 0%, #f86e45 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #ebe9f6;
    letter-spacing: 3px;
  }
  .member-form-header-dark {
    background: -webkit-linear-gradient(0deg, #d5da00 0%, #d5da00 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #252851;
    letter-spacing: 3px;
  }
  /*End DaftarKompetisi Page */

  /* Seminar Page */
  .intro-seminar-header,
  .qna-seminar-header {
    background: -webkit-linear-gradient(0deg, #494b7c 0%, #494b7c 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #fcf2ff;
    letter-spacing: 3px;
  }

  .intro-seminar-header-dark,
  .qna-seminar-header-dark {
    background: -webkit-linear-gradient(0deg, #e5eeff 0%, #e5eeff 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #02053e;
    letter-spacing: 3px;
  }

  .glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(23px);
    -webkit-backdrop-filter: blur(23px);
  }

  .register-seminar-header {
    color: #f4eefe;
    background: -webkit-linear-gradient(0deg, #494b7c 0%, #494b7c 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  .register-seminar-header-dark {
    color: #050b47;
    background: -webkit-linear-gradient(0deg, #e5eeff 0%, #e5eeff 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  .gradient-border {
    border-radius: 16px;
    border: 3.5px dashed #fff;
    background: linear-gradient(#f3edfe 0 0) padding-box,
      linear-gradient(to bottom right, #337ef0, #fc39fc) border-box;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }
  .gradient-border-dark {
    border-radius: 16px;
    border: 3.5px dashed #050b47;
    background: linear-gradient(#050b47 0 0) padding-box,
      linear-gradient(to bottom right, #337ef0, #fc39fc) border-box;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }

  .gradient-border-pn {
    border-radius: 16px;
    border: 3.5px dashed #fff;
    background: linear-gradient(#f3edfe 0 0) padding-box,
      linear-gradient(to bottom left, #337ef0, #fc39fc) border-box;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }
  .gradient-border-pn-dark {
    border-radius: 16px;
    border: 3.5px dashed #050b47;
    background: linear-gradient(#050b47 0 0) padding-box,
      linear-gradient(to bottom left, #337ef0, #fc39fc) border-box;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }

  .narahubung-header {
    color: #e7eeff;
    background: -webkit-linear-gradient(0deg, #494b7c 0%, #494b7c 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }
  .narahubung-header-dark {
    color: #08356b;
    background: -webkit-linear-gradient(0deg, #e5eeff 0%, #e5eeff 95%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }
  /*End Seminar Page */

  /* Credentials Page */

  .gradient-border-credentials {
    border-radius: 30px;
    border: 3.5px dashed #fff;
    background: linear-gradient(#edeef9 0 0) padding-box,
      linear-gradient(to bottom right, #337ef0, #fc39fc) border-box;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }
  .gradient-border-credentials-dark {
    border-radius: 30px;
    border: 3.5px dashed #050b47;
    background: linear-gradient(#383b6a 0 0) padding-box,
      linear-gradient(to bottom right, #fc39fc, #337ef0) border-box;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  /* End Credentials Page */
}
